.input-field .prefix.active {
  color: #424242 !important;
}

.input-field input[type]:focus,
.materialize-textarea:focus {
  border-bottom: 1px solid #424242 !important;
  box-shadow: 0 1px 0 0 #424242 !important;
}

.input-field input[type]:focus + label,
.materialize-textarea:focus + label {
  color: #424242 !important;
}

#home {
  height: calc(100vh - 64px);
}

.parallax img {
  width: 400%;
}

.medium {
  height: 350px !important;
}

.typewriter {
  font-size: 6rem;
}

.medium-text {
  font-size: 2rem !important;
}
